@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Lato", sans-serif;
  }
}
@layer components {
  .navbar {
    background: linear-gradient(to bottom right, #8e00c2, #4b0067);
  }
  .slogan {
    background: linear-gradient(to bottom right, #f9c258, #f8a924);
  }
}
