@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-optima;
  }
  @font-face {
    font-family: "optima";
    font-weight: 400;
    src: url("../public/fonts/Optima-Regular.ttf");
  }

  @font-face {
    font-family: "optima";
    font-weight: 400;
    src: url("../public/fonts/Optima-Italic.ttf");
    font-style: italic;
  }

  @font-face {
    font-family: "optima";
    font-weight: 700;
    src: url("../public/fonts/Optima-Bold.ttf");
  }

  @font-face {
    font-family: "optima";
    font-weight: 700;
    src: url("../public/fonts/Optima-BoldItalic.ttf");
    font-style: italic;
  }
}
@layer components {
  .navbar {
    background: linear-gradient(to bottom right, #8e00c2, #4b0067);
  }
  .hero {
    background-image: url("../public/imgs/itemBg1.png") !important;
    background-repeat: no-repeat;
    background-size: contain;
    height: 400px;
  }
  .card {
    @apply shadow-xl overflow-hidden;
    border-radius: 20px;
  }
  .card-image {
    background-image: url("../public/imgs/itemBg1.png") !important;
    background-repeat: no-repeat;
    background-size: contain;
    height: 300px;
  }
  .contactAction {
    border-radius: 30px;
    -moz-box-shadow: inset 0px 0 8px #dddddd;
    -webkit-box-shadow: inset 0px 0 8px #dddddd;
    box-shadow: inset 0px 0 8px #dddddd;
  }
}
